
<div  style="width:100%;">

  <footer class="bg-dark text-center text-white  " >

  <div class="container p-4 pb-0">

    <section class="mb-3">

      <a class="btn btn-outline-light btn-floating m-1" [routerLink]="['/todos']" routerLinkActive="router-link-active" role="button"
        >To Do</a>


      <a class="btn btn-outline-light btn-floating m-1" [routerLink]="['/home']" routerLinkActive="router-link-active" role="button"
        >Home</a>


      <a class="btn btn-outline-light btn-floating m-1" [routerLink]="['/aboutus']" routerLinkActive="router-link-active" role="button"
        >About Us</a>


      <a class="btn btn-outline-light btn-floating m-1" [routerLink]="['/conactus']" routerLinkActive="router-link-active" role="button"
        >Conact Us</a>


    </section>

  </div>


  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="www.linkedin.com/in/omar-amgad-2a32a6228">Omar Amgad</a>
  </div>
  <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->
